name: Publish

on:
  push:
    branches:
      - alpha
      - main
      - release
  workflow_dispatch:

concurrency: release

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  build:
    name: 'Build @algorandfoundation/algorand-typescript-testing'
    uses: ./.github/workflows/node-ci.yml
    with:
      pre-test-script: |
        pipx install algokit
        algokit localnet reset --update
        pipx install puyapy
      node-version: 20.x
      run-build: true
      run-commit-lint: true
      audit-script: npm run audit
      upload-artifact-name: algo-ts-testing
      upload-artifact-path: ./dist

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - run: npm ci --ignore-scripts

      - name: Download package artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Generate semantic version for @algorandfoundation/algorand-typescript-testing
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish @algorandfoundation/algorand-typescript-testing
        uses: JS-DevTools/npm-publish@v3
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: artifacts/algo-ts-testing/package.json
          access: 'public'
